:root {
  /* IRIS */
  --primary-brand-color: #4d5ae5;

  /* OCEAN */
  --pressed-state-color: #404bbf;

  /* NAVY BLUE */
  --dark-color: #2e2f42;

  /* GREEN */
  --sucsess-color: #31d0aa;

  /* SLATE */
  --text-color: #434455;

  /* LIGHT SLATE */
  --subtle-text: #8e8f99;

  /* CORNFLOWER */
  --accent-color: #e7e9fc;

  /* CLOUD */
  --light-color: #f4f4fd;

  /* NAVY BLUE MODAL */
  --modal-overlay-color: rgba(46, 47, 66, 0.4);

  /* GREY */
  --hero-background-color: #2e2f42;

  /* WHITE  */
  --white-color: #ffffff;

  /* DAIRY */
  --modal-background-color: #FCFCFC;

  --card-gap: 24px;
  --portfolio-row-gap: 48px;
  --column-gap: 24px;

  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  /* max-width: 100%; */
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Utilities ==========================================================*/
/* Remove dots from lists class */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Remove decorations in links(buttons) */
.link {
  text-decoration: none;
}

/* Visually hidden title */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  /* max-width: 396px;
  margin-left: auto;
  margin-right: auto; */
  /* outline: solid 1px teal; */
}

/* Mobile adaptive container ===================================================*/
@media screen and (min-width: 480px) {
  .container {
    width: calc(398px + 2*15px);
    margin-left: auto;
    margin-right: auto;
  }
}

.title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  text-transform: capitalize;
  color: var(--dark-color);
  text-align: center;
}

/* Mobile - Header Section ------------------------------------------------------*/
.header {
  padding-top: 24px;
  padding-bottom: 22px;

  border-bottom: 2px solid var(--accent-color);
  /* outline: solid 1px orange; */
}

/* Logo */
.logo-main {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.logo-secondary {
  color: var(--dark-color);
}

/* Mobile navigation styling ============================================================= */
@media screen and (max-width: 767px) {

  .site-nav,
  .address {
    display: none;
  }

  .mobile-button-open {
    line-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  /* Mobile Menu */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;
    background-color: var(--white-color);

    transform: translateX(100%);
    transition: transform var(--transition-duration) var(--transition-timing-function);
  }

  .mobile-menu.is-open {
    transform: translateX(0);
  }

  .mobile-menu-container {
    position: relative;
    height: 100%;

    padding: 80px 35px 40px 40px;
  }

  .mobile-button-close {
    position: absolute;
    top: 24px;
    right: 24px;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--accent-color);
    cursor: pointer;
    transition: background-color var(--transition-duration) var(--transition-timing-function),
      fill var(--transition-duration) var(--transition-timing-function);
  }

  .mobile-button-close>.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mobile-button-close:is(:hover, :focus) {
    background-color: var(--pressed-state-color);
    fill: var(--white-color);
  }

  /* Mobile Menu Navigation */
  .mobile-nav .link {
    display: block;
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark-color);

  }

  .mobile-nav .current-page {
    color: var(--pressed-state-color);
  }

  .mobile-menu-wrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-nav {
    flex-grow: 1;
  }


  .mobile-contacts {
    margin-bottom: 48px;
  }

  .mobile-contacts .tel {
    display: block;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: var(--primary-brand-color);
  }

  .mobile-contacts .email {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.11;
    color: var(--text-color);
  }

  /* Mobile Menu Social Buttons */
  .social-buttons-mobile-list.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
    max-width: 328px;
  }

  .social-buttons-mobile-item {
    width: 40px;
    height: 40px;
  }

  .social-buttons-mobile {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--primary-brand-color);
    border-radius: 50%;

    transition: background-color var(--transition-duration) var(--transition-timing-function);
  }

  .social-buttons-mobile:is(:hover, :focus) {
    background-color: var(--sucsess-color);
  }
}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Mobile - Hero Section --------------------------------------------------------*/
.hero-title {
  margin-bottom: 72px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--white-color);
}

.hero-section {
  max-width: 428px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 112px;
  padding-bottom: 112px;

  background-image: linear-gradient(rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)),
    url(../images/hero-image-mob.jpg);
  background-color: var(--dark-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-image-mob@2x.jpg);
  }
}

.button {
  border-radius: 4px;
  cursor: pointer;
}

.hero-section .button {
  border: 0;
  padding: 16px 32px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.hero-section .button:hover,
.hero-section .button:focus {
  background-color: var(--pressed-state-color);
}

/* Mobile Main Section --------------------------------------------------------  */
.section {
  padding-top: 96px;
  padding-bottom: 96px;
  /* outline: 1px solid red; */
}

/* Mobile Section 1 ---------------------------------------------------------*/
.advantages {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.advantages-box {
  display: none;
}

.sub-title {
  margin-bottom: 8px;

  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  color: var(--dark-color);
}

.advantages p {
  font-weight: 500;
}

/* Mobile - Section 2 ----------------------------------------------------------*/
@media screen and (max-width: 1199px) {
  .section-2 {
    display: none;
  }
}

/* Mobile - Section 3 ----------------------------------------------------------*/
.team-section {
  background-color: var(--light-color);
  text-align: center;
  justify-content: flex-end;
}

@media screen and (max-width: 767px) {
  .team-section>.container {
    padding-left: 82px;
    padding-right: 82px;
  }
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--card-gap);
  row-gap: 72px;

}

.card-set>.card {
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  /* outline: 1px solid teal; */
}

.team-section img {
  width: 100%;
}

.team-section .sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.card-caption {
  padding-top: 32px;
  padding-bottom: 32px;
}

.card-caption>p {
  margin-bottom: 8px;
}

.social-buttons-item {
  width: 40px;
  height: 40px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: var(--primary-brand-color);
  border-radius: 50%;

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-buttons:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.social-buttons-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.social-buttons-item .icon {
  display: block;
}

/* Mobile - Section 4 -----------------------------------------------------*/

.customers-list.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 72px;
}

.customers-list-item {
  height: 88px;
  flex-basis: calc((100% - 16px) / 2);
}

.customers {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  fill: var(--subtle-text);

  transition: fill, var(--transition-duration) var(--transition-timing-function),
    border var(--transition-duration) var(--transition-timing-function);
}

.customers:is(:hover, :focus) {
  fill: var(--pressed-state-color);
  border: 1px solid var(--pressed-state-color);
}

/* Mobile Footer Section -------------------------------------------------------*/

.footer-section {
  background-color: var(--dark-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

/* .footer-section>.container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.logo-tertiary {
  color: var(--light-color);
}

.footer-text {
  color: var(--accent-color);
}

.slogan-part {
  width: 268px;
  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}

.slogan-part .logo-main {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.footer-media-block {
  margin-bottom: 72px;
}

.footer-text.media {
  margin-bottom: 16px;
  text-align: center;
}

.social-buttons-footer-list.list {
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-buttons-footer-item {
  width: 40px;
  height: 40px;
}

.social-buttons-footer {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-brand-color);
  border-radius: 50%;

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.social-buttons-footer:is(:hover, :focus) {
  background-color: var(--sucsess-color);
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.footer-form-label {
  margin-bottom: 16px;
  text-align: center;
}

.footer-form .input {
  padding: 8px 16px;
  margin: 0;
  margin-bottom: 16px;

  height: 40px;
  width: 100%;
  line-height: 1.5;
  background-color: var(--dark-color);
  border: 1px solid var(--white-color);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);
  color: var(--white-color);
}

.footer-form .input:is(:focus) {
  outline: none;
  border-color: var(--sucsess-color);
}

.footer-form-field .input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--white-color);
}


.footer-form-block>.button {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: auto;

  border: 0;
  padding: 8px 24px;
  min-width: 169px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.footer-form-block svg {
  margin-left: 16px;
}

.footer-form .button:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

/* Mobile Modal Window -----------------------------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  opacity: 1;
  background-color: var(--modal-overlay-color);

  transition: opacity var(--transition-duration) var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;

}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);

  padding: 72px 24px 24px;

  min-width: 392px;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--modal-background-color);

  transition: transform var(--transition-duration) var(--transition-timing-function);
}

.modal-wrap .modal-button-close {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);
}

.modal-button-close>.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-button-close:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  fill: var(--white-color);
}

.modal-title {
  display: block;
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
  text-align: center;
}

.modal-form-field {
  position: relative;
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.modal-form-field.textarea {
  margin-bottom: 16px;
}

.modal-form-field .input {
  padding: 0 16px 0 38px;
  margin: 0;
  height: 40px;
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  transition: border-color var(--transition-duration) var(--transition-timing-function);

  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--modal-background-color);
}

.modal-form-field .input-textarea {
  padding-left: 16px;
  height: 120px;
}

.modal-form-field .icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--dark-color);
  transform: translateY(-50%);
  transition: fill var(--transition-duration) var(--transition-timing-function);
  pointer-events: none;
}

.modal-form-field .input:focus {
  border-color: var(--primary-brand-color);
  outline: 1px solid transparent;

}

.modal-form-field .input:focus+.icon {
  fill: var(--primary-brand-color);
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--subtle-text);
  letter-spacing: 0.04em;
  /* outline: 1px solid red; */
}

.modal-form-field textarea {
  resize: none;
}

.modal-form-field textarea::placeholder {
  padding-top: 8px;
  font-size: 12px;
  line-height: 1.17;
  color: var(--subtle-text);
}

.modal-form-policy-checker-wrap {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
  letter-spacing: 0.04em;
}

.modal-form-policy-checker-wrap>.modal-form-label {
  margin-bottom: 0;
  margin-left: 8px;
  /* letter-spacing: 0.04; */
}

/* Checkbox workaround -----------------*/
.modal-form .modal-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;

  margin: 0;
  padding: 0;
  width: 16px;
  height: 16px;

  cursor: pointer;
}

.checker-icon {
  border: 1px solid var(--subtle-text);
  border-radius: 2px;
  fill: transparent;
  background-color: transparent;
  transition: var(--transition-duration) var(--transition-timing-function),
    fill var(--transition-duration) var(--transition-timing-function);

}

.modal-checkbox:checked+.checker-icon {
  fill: var(--light-color);
  background-color: var(--primary-brand-color);
}

.modal-form-label>a {
  color: var(--primary-brand-color);
  letter-spacing: 0.04em;
}

.modal-form .button {
  border: 0;
  padding: 16px 32px;
  min-width: 169px;

  display: block;
  margin-right: auto;
  margin-left: auto;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-color);
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color var(--transition-duration) var(--transition-timing-function);
}

.modal-form .button:hover,
.modal-form .button:focus {
  background-color: var(--pressed-state-color);
}

/* Mobile Portfolio ===============================================================*/
.section.portfolio-paddings {
  padding-top: 48px;
  /* padding-bottom: 48px; */
}

.portfolio-list .item {
  margin-bottom: 48px;
}

.portfolio-list .item:last-child {
  margin-bottom: 0;
}

.portfolio-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  column-gap: 24px;
  row-gap: 16px;
  margin-bottom: 48px;
}

.portfolio-buttons .button {
  padding: 12px 24px;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: solid 1px var(--accent-color);
  box-shadow: 0 0 0;

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration) var(--transition-timing-function),
    border-color var(--transition-duration) var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-buttons .button:hover,
.portfolio-buttons .button:focus {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-link.link {
  display: block;

  transition: box-shadow var(--transition-duration) var(--transition-timing-function);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  color: var(--light-color);
  background-color: var(--primary-brand-color);

  transform: translateY(100%);
  transition: transform var(--transition-duration) var(--transition-timing-function);
}


.portfolio-link.link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-link.link:is(:hover, :focus) .portfolio-overlay {
  transform: translateY(0);
}

.item-caption {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;

  border: solid var(--accent-color);
  border-width: 0 1px 1px 1px;
}

.item-caption>.sub-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
}

.item-caption>p {
  color: var(--text-color);
}

/* ============================================================================ */
/* Tablet adaptive container ===================================================*/
@media screen and (min-width: 768px) {
  .container {
    width: calc(738px + 2*15px);
  }

  .mobile-menu,
  .mobile-button-open {
    display: none;
  }

  /* Tablet Header -------------------------------------------------------------*/
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-flex {
    display: flex;
    align-items: center;
  }


  .site-nav {
    display: flex;
    margin-left: 120px;
  }

  .site-nav>.item+.item {
    margin-left: 40px;
  }

  .address {
    margin-left: auto;
  }

  .contacts {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 40px;
    justify-content: flex-end;
  }

  .contacts .item {
    height: 14px;
    line-height: 1;
  }

  .site-nav .link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;

    color: var(--dark-color);
    font-weight: 500;

    transition: color var(--transition-duration) var(--transition-timing-function);
  }

  .contacts .link {
    font-size: 12px;
    line-height: 1.17;
    font-style: normal;
    color: var(--dark-color);

    transition: color var(--transition-duration) var(--transition-timing-function);
  }

  .list .link:hover,
  .list .link:focus {
    color: var(--pressed-state-color);
  }

  .site-nav .current-page {
    position: relative;
    color: var(--pressed-state-color);
  }

  .current-page::after {
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--pressed-state-color);
  }


  /* Tablet - Hero Section --------------------------------------------------------*/
  .hero-section {
    max-width: 768px;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-image-tablet.jpg);
    background-color: var(--dark-color);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-tablet@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }

  /* Tablet - Section 1 --------------------------------------------------------- */
  .advantages {
    column-gap: 24px;
  }

  .advantages>.item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .sub-title {
    text-align: unset;
  }

  /* Tablet - Section 3 --------------------------------------------------------- */

  .card-set>.card {
    flex-basis: calc((100% - var(--card-gap)) / 2);
  }

  /* Narrow Container */
  @media screen and (max-width: 1199px) {

    .team-section .container,
    .customers-section .container,
    .footer-section .container {
      padding-left: 108px;
      padding-right: 108px;
    }
  }

  /* Tablet - Section 4 --------------------------------------------------------- */

  .customers-list.list {
    column-gap: 24px;
  }

  .customers-list-item {
    height: 88px;
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  /* Tablet Footer Section -------------------------------------------------------*/
  .footer-section>.container {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    row-gap: 72px;
    align-items: flex-start;

  }

  .slogan-part .logo-main {
    text-align: left;
  }

  .slogan-part {
    margin-bottom: 0;
    width: 264px;
    margin: 0;

  }

  .footer-text.media {
    text-align: left;
  }

  .footer-media-block {
    margin-left: 24px;
    margin-bottom: 0;
  }

  .footer-form {
    display: block;
    width: unset;
  }

  .footer-form-label {
    text-align: left;
  }

  .footer-form .input {
    width: 264px;
    margin: 0;
  }

  .footer-form-block {
    display: flex;
  }

  .footer-form-block>.button {
    margin: 0;
    margin-left: 24px;
  }

  /* Tablet Modal Window -----------------------------------------------*/
  .modal {
    min-width: 408px;
  }

  /* Tablet Portfolio ===============================================================*/

  .portfolio-buttons {
    justify-content: center;
    margin-bottom: 64px;
  }

  .section.portfolio-paddings {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-link.link {
    margin-bottom: 0;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list .item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

/* ============================================================================ */
/* Desktop adaptive container ===================================================*/
@media screen and (min-width: 1200px) {
  .container {
    width: calc(1128px + 2*15px);
  }

  /*Desktop Header -----------------------------------------------*/

  .contacts .link {
    font-size: inherit;
    line-height: inherit;
    font-style: normal;
    color: var(--dark-color);

    transition: color var(--transition-duration) var(--transition-timing-function);
  }

  /* Desktop - Hero Section --------------------------------------------------------*/
  .hero-section {
    max-width: 1440px;

    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/hero-image-desk.jpg);
    background-color: var(--dark-color);
  }

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero-section {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/hero-image-desk@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* Desktop - Section 1 --------------------------------------------------------- */

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .section.nopadding-btm {
    padding-bottom: 0;
  }

  .advantages {
    flex-wrap: nowrap;
    gap: var(--card-gap);
  }

  .advantages-box {
    height: 112px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    margin-bottom: 8px;

    background-color: var(--light-color);
  }

  .sub-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages p {
    font-weight: inherit;
  }

  /* Desktop - Section 2 ------------------------------------------------------------*/
  .services-list {
    display: flex;
    margin-top: calc(-1 * var(--card-gap));
    margin-left: calc(-1 * var(--card-gap));
  }

  .services-list>.item {
    flex-basis: calc(100% / 3 - var(--card-gap));
    margin-top: var(--card-gap);
    margin-left: var(--card-gap);
    /* outline: 1px solid red; */
  }

  /* Desktop - Section 3 ------------------------------------------------------------*/
  .card-set>.card {
    flex-basis: calc((100% - 3 * var(--card-gap)) / 4);
  }

  /* Desktop - Section 4 --------------------------------------------------------- */
  .customers-list-item {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }

  /* Desktop - Footer Section --------------------------------------------------------- */
  .footer-section {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-section>.container {
    align-items: stretch;
  }

  .footer-media-block {
    margin-left: 120px;
  }

  .footer-form {
    margin-left: auto;
  }

  /* Desktop Portfolio ===============================================================*/
  .portfolio-buttons {
    margin-bottom: 72px;
  }

  .section.portfolio-paddings {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-list .item {
    flex-basis: calc((100% - (2 * 24px)) / 3);
  }
}